__pycache__/Data.cpython-36.pyc
__pycache__/gb_cumcoeff.cpython-36.pyc
__pycache__/gb_eval.cpython-36.pyc
__pycache__/gb_invcumcoeff.cpython-36.pyc
__pycache__/gb_loaddata.cpython-36.pyc
__pycache__/gb_parallelest.cpython-36.pyc
__pycache__/gb_parallelize.cpython-36.pyc
__pycache__/gb_recovsim.cpython-36.pyc
__pycache__/gb_simulation.cpython-36.pyc
__pycache__/gb_task_agent_int.cpython-36.pyc
__pycache__/GbAgent.cpython-36.pyc
__pycache__/GbAgentVars.cpython-36.pyc
__pycache__/GbEstimation.cpython-36.pyc
__pycache__/GbEstVars.cpython-36.pyc
__pycache__/GbResults.cpython-36.pyc
__pycache__/GbSimVars.cpython-36.pyc
__pycache__/GbTask.cpython-36.pyc
__pycache__/GbTaskVars.cpython-36.pyc
__pycache__/main_name_training.cpython-36.pyc
__pycache__/PHat.cpython-36.pyc
__pycache__/plot_distribution.cpython-36.pyc
__pycache__/ProgressBar.cpython-36.pyc
__pycache__/truncate_colormap.cpython-36.pyc
gb_figures/Fig2.pdf
gb_figures/Fig3.pdf
gb_figures/Fig4.pdf
gb_figures/SM_Fig1.pdf
gb_figures/SM_Fig4.pdf
gb_figures/SM_Fig5.pdf
gb_figures/SM_Fig6.pdf
gb_figures/SM_Fig7.pdf
gb_figures/sampling_validation/sim_0_t_0.pdf
gb_figures/sampling_validation/sim_0_t_1.pdf
gb_figures/sampling_validation/sim_0_t_10.pdf
gb_figures/sampling_validation/sim_0_t_11.pdf
gb_figures/sampling_validation/sim_0_t_12.pdf
gb_figures/sampling_validation/sim_0_t_13.pdf
gb_figures/sampling_validation/sim_0_t_14.pdf
gb_figures/sampling_validation/sim_0_t_15.pdf
gb_figures/sampling_validation/sim_0_t_16.pdf
gb_figures/sampling_validation/sim_0_t_17.pdf
gb_figures/sampling_validation/sim_0_t_18.pdf
gb_figures/sampling_validation/sim_0_t_19.pdf
gb_figures/sampling_validation/sim_0_t_2.pdf
gb_figures/sampling_validation/sim_0_t_20.pdf
gb_figures/sampling_validation/sim_0_t_21.pdf
gb_figures/sampling_validation/sim_0_t_22.pdf
gb_figures/sampling_validation/sim_0_t_23.pdf
gb_figures/sampling_validation/sim_0_t_24.pdf
gb_figures/sampling_validation/sim_0_t_25.pdf
gb_figures/sampling_validation/sim_0_t_3.pdf
gb_figures/sampling_validation/sim_0_t_4.pdf
gb_figures/sampling_validation/sim_0_t_5.pdf
gb_figures/sampling_validation/sim_0_t_6.pdf
gb_figures/sampling_validation/sim_0_t_7.pdf
gb_figures/sampling_validation/sim_0_t_8.pdf
gb_figures/sampling_validation/sim_0_t_9.pdf
gb_figures/sampling_validation/sim_1_t_0.pdf
gb_figures/sampling_validation/sim_1_t_1.pdf
gb_figures/sampling_validation/sim_1_t_10.pdf
gb_figures/sampling_validation/sim_1_t_11.pdf
gb_figures/sampling_validation/sim_1_t_12.pdf
gb_figures/sampling_validation/sim_1_t_13.pdf
gb_figures/sampling_validation/sim_1_t_14.pdf
gb_figures/sampling_validation/sim_1_t_15.pdf
gb_figures/sampling_validation/sim_1_t_16.pdf
gb_figures/sampling_validation/sim_1_t_17.pdf
gb_figures/sampling_validation/sim_1_t_18.pdf
gb_figures/sampling_validation/sim_1_t_19.pdf
gb_figures/sampling_validation/sim_1_t_2.pdf
gb_figures/sampling_validation/sim_1_t_20.pdf
gb_figures/sampling_validation/sim_1_t_21.pdf
gb_figures/sampling_validation/sim_1_t_22.pdf
gb_figures/sampling_validation/sim_1_t_23.pdf
gb_figures/sampling_validation/sim_1_t_24.pdf
gb_figures/sampling_validation/sim_1_t_25.pdf
gb_figures/sampling_validation/sim_1_t_3.pdf
gb_figures/sampling_validation/sim_1_t_4.pdf
gb_figures/sampling_validation/sim_1_t_5.pdf
gb_figures/sampling_validation/sim_1_t_6.pdf
gb_figures/sampling_validation/sim_1_t_7.pdf
gb_figures/sampling_validation/sim_1_t_8.pdf
gb_figures/sampling_validation/sim_1_t_9.pdf
gb_figures/sampling_validation/sim_2_t_0.pdf
gb_figures/sampling_validation/sim_2_t_1.pdf
gb_figures/sampling_validation/sim_2_t_10.pdf
gb_figures/sampling_validation/sim_2_t_11.pdf
gb_figures/sampling_validation/sim_2_t_12.pdf
gb_figures/sampling_validation/sim_2_t_13.pdf
gb_figures/sampling_validation/sim_2_t_14.pdf
gb_figures/sampling_validation/sim_2_t_15.pdf
gb_figures/sampling_validation/sim_2_t_16.pdf
gb_figures/sampling_validation/sim_2_t_17.pdf
gb_figures/sampling_validation/sim_2_t_18.pdf
gb_figures/sampling_validation/sim_2_t_19.pdf
gb_figures/sampling_validation/sim_2_t_2.pdf
gb_figures/sampling_validation/sim_2_t_20.pdf
gb_figures/sampling_validation/sim_2_t_21.pdf
gb_figures/sampling_validation/sim_2_t_22.pdf
gb_figures/sampling_validation/sim_2_t_23.pdf
gb_figures/sampling_validation/sim_2_t_24.pdf
gb_figures/sampling_validation/sim_2_t_25.pdf
gb_figures/sampling_validation/sim_2_t_3.pdf
gb_figures/sampling_validation/sim_2_t_4.pdf
gb_figures/sampling_validation/sim_2_t_5.pdf
gb_figures/sampling_validation/sim_2_t_6.pdf
gb_figures/sampling_validation/sim_2_t_7.pdf
gb_figures/sampling_validation/sim_2_t_8.pdf
gb_figures/sampling_validation/sim_2_t_9.pdf
gb_figures/sampling_validation/sim_3_t_0.pdf
gb_figures/sampling_validation/sim_3_t_1.pdf
gb_figures/sampling_validation/sim_3_t_10.pdf
gb_figures/sampling_validation/sim_3_t_11.pdf
gb_figures/sampling_validation/sim_3_t_12.pdf
gb_figures/sampling_validation/sim_3_t_13.pdf
gb_figures/sampling_validation/sim_3_t_14.pdf
gb_figures/sampling_validation/sim_3_t_15.pdf
gb_figures/sampling_validation/sim_3_t_16.pdf
gb_figures/sampling_validation/sim_3_t_17.pdf
gb_figures/sampling_validation/sim_3_t_18.pdf
gb_figures/sampling_validation/sim_3_t_19.pdf
gb_figures/sampling_validation/sim_3_t_2.pdf
gb_figures/sampling_validation/sim_3_t_20.pdf
gb_figures/sampling_validation/sim_3_t_21.pdf
gb_figures/sampling_validation/sim_3_t_22.pdf
gb_figures/sampling_validation/sim_3_t_23.pdf
gb_figures/sampling_validation/sim_3_t_24.pdf
gb_figures/sampling_validation/sim_3_t_25.pdf
gb_figures/sampling_validation/sim_3_t_3.pdf
gb_figures/sampling_validation/sim_3_t_4.pdf
gb_figures/sampling_validation/sim_3_t_5.pdf
gb_figures/sampling_validation/sim_3_t_6.pdf
gb_figures/sampling_validation/sim_3_t_7.pdf
gb_figures/sampling_validation/sim_3_t_8.pdf
gb_figures/sampling_validation/sim_3_t_9.pdf
gb_figures/sampling_validation/sim_4_t_0.pdf
gb_figures/sampling_validation/sim_4_t_1.pdf
gb_figures/sampling_validation/sim_4_t_10.pdf
gb_figures/sampling_validation/sim_4_t_11.pdf
gb_figures/sampling_validation/sim_4_t_12.pdf
gb_figures/sampling_validation/sim_4_t_13.pdf
gb_figures/sampling_validation/sim_4_t_14.pdf
gb_figures/sampling_validation/sim_4_t_15.pdf
gb_figures/sampling_validation/sim_4_t_16.pdf
gb_figures/sampling_validation/sim_4_t_17.pdf
gb_figures/sampling_validation/sim_4_t_18.pdf
gb_figures/sampling_validation/sim_4_t_19.pdf
gb_figures/sampling_validation/sim_4_t_2.pdf
gb_figures/sampling_validation/sim_4_t_20.pdf
gb_figures/sampling_validation/sim_4_t_21.pdf
gb_figures/sampling_validation/sim_4_t_22.pdf
gb_figures/sampling_validation/sim_4_t_23.pdf
gb_figures/sampling_validation/sim_4_t_24.pdf
gb_figures/sampling_validation/sim_4_t_25.pdf
gb_figures/sampling_validation/sim_4_t_3.pdf
gb_figures/sampling_validation/sim_4_t_4.pdf
gb_figures/sampling_validation/sim_4_t_5.pdf
gb_figures/sampling_validation/sim_4_t_6.pdf
gb_figures/sampling_validation/sim_4_t_7.pdf
gb_figures/sampling_validation/sim_4_t_8.pdf
gb_figures/sampling_validation/sim_4_t_9.pdf
gb_figures/single_trial/exceedance_probs.csv
gb_figures/sampling_validation_final/sim_4_t_18.pdf
gb_figures/sampling_validation_final/sim_4_t_19.pdf
gb_figures/sampling_validation_final/sim_4_t_2.pdf
gb_figures/sampling_validation_final/sim_4_t_20.pdf
gb_figures/sampling_validation_final/sim_4_t_21.pdf
gb_figures/sampling_validation_final/sim_4_t_22.pdf
gb_figures/sampling_validation_final/sim_4_t_23.pdf
gb_figures/sampling_validation_final/sim_4_t_24.pdf
gb_figures/sampling_validation_final/sim_4_t_25.pdf
gb_figures/sampling_validation_final/sim_4_t_3.pdf
gb_figures/sampling_validation_final/sim_4_t_4.pdf
gb_figures/sampling_validation_final/sim_4_t_5.pdf
gb_figures/sampling_validation_final/sim_4_t_6.pdf
gb_figures/sampling_validation_final/sim_4_t_7.pdf
gb_figures/sampling_validation_final/sim_4_t_8.pdf
gb_figures/sampling_validation_final/sim_4_t_9.pdf
gb_figures/sampling_validation_final/sim_0_t_0.pdf
gb_figures/sampling_validation_final/sim_0_t_1.pdf
gb_figures/sampling_validation_final/sim_0_t_10.pdf
gb_figures/sampling_validation_final/sim_0_t_11.pdf
gb_figures/sampling_validation_final/sim_0_t_12.pdf
gb_figures/sampling_validation_final/sim_0_t_13.pdf
gb_figures/sampling_validation_final/sim_0_t_14.pdf
gb_figures/sampling_validation_final/sim_0_t_15.pdf
gb_figures/sampling_validation_final/sim_0_t_16.pdf
gb_figures/sampling_validation_final/sim_0_t_17.pdf
gb_figures/sampling_validation_final/sim_0_t_18.pdf
gb_figures/sampling_validation_final/sim_0_t_19.pdf
gb_figures/sampling_validation_final/sim_0_t_2.pdf
gb_figures/sampling_validation_final/sim_0_t_20.pdf
gb_figures/sampling_validation_final/sim_0_t_21.pdf
gb_figures/sampling_validation_final/sim_0_t_22.pdf
gb_figures/sampling_validation_final/sim_0_t_23.pdf
gb_figures/sampling_validation_final/sim_0_t_24.pdf
gb_figures/sampling_validation_final/sim_0_t_25.pdf
gb_figures/sampling_validation_final/sim_0_t_3.pdf
gb_figures/sampling_validation_final/sim_0_t_4.pdf
gb_figures/sampling_validation_final/sim_0_t_5.pdf
gb_figures/sampling_validation_final/sim_0_t_6.pdf
gb_figures/sampling_validation_final/sim_0_t_7.pdf
gb_figures/sampling_validation_final/sim_0_t_8.pdf
gb_figures/sampling_validation_final/sim_0_t_9.pdf
gb_figures/sampling_validation_final/sim_1_t_0.pdf
gb_figures/sampling_validation_final/sim_1_t_1.pdf
gb_figures/sampling_validation_final/sim_1_t_10.pdf
gb_figures/sampling_validation_final/sim_1_t_11.pdf
gb_figures/sampling_validation_final/sim_1_t_12.pdf
gb_figures/sampling_validation_final/sim_1_t_13.pdf
gb_figures/sampling_validation_final/sim_1_t_14.pdf
gb_figures/sampling_validation_final/sim_1_t_15.pdf
gb_figures/sampling_validation_final/sim_1_t_16.pdf
gb_figures/sampling_validation_final/sim_1_t_17.pdf
gb_figures/sampling_validation_final/sim_1_t_18.pdf
gb_figures/sampling_validation_final/sim_1_t_19.pdf
gb_figures/sampling_validation_final/sim_1_t_2.pdf
gb_figures/sampling_validation_final/sim_1_t_20.pdf
gb_figures/sampling_validation_final/sim_1_t_21.pdf
gb_figures/sampling_validation_final/sim_1_t_22.pdf
gb_figures/sampling_validation_final/sim_1_t_23.pdf
gb_figures/sampling_validation_final/sim_1_t_24.pdf
gb_figures/sampling_validation_final/sim_1_t_25.pdf
gb_figures/sampling_validation_final/sim_1_t_3.pdf
gb_figures/sampling_validation_final/sim_1_t_4.pdf
gb_figures/sampling_validation_final/sim_1_t_5.pdf
gb_figures/sampling_validation_final/sim_1_t_6.pdf
gb_figures/sampling_validation_final/sim_1_t_7.pdf
gb_figures/sampling_validation_final/sim_1_t_8.pdf
gb_figures/sampling_validation_final/sim_1_t_9.pdf
gb_figures/sampling_validation_final/sim_2_t_0.pdf
gb_figures/sampling_validation_final/sim_2_t_1.pdf
gb_figures/sampling_validation_final/sim_2_t_10.pdf
gb_figures/sampling_validation_final/sim_2_t_11.pdf
gb_figures/sampling_validation_final/sim_2_t_12.pdf
gb_figures/sampling_validation_final/sim_2_t_13.pdf
gb_figures/sampling_validation_final/sim_2_t_14.pdf
gb_figures/sampling_validation_final/sim_2_t_15.pdf
gb_figures/sampling_validation_final/sim_2_t_16.pdf
gb_figures/sampling_validation_final/sim_2_t_17.pdf
gb_figures/sampling_validation_final/sim_2_t_18.pdf
gb_figures/sampling_validation_final/sim_2_t_19.pdf
gb_figures/sampling_validation_final/sim_2_t_2.pdf
gb_figures/sampling_validation_final/sim_2_t_20.pdf
gb_figures/sampling_validation_final/sim_2_t_21.pdf
gb_figures/sampling_validation_final/sim_2_t_22.pdf
gb_figures/sampling_validation_final/sim_2_t_23.pdf
gb_figures/sampling_validation_final/sim_2_t_24.pdf
gb_figures/sampling_validation_final/sim_2_t_25.pdf
gb_figures/sampling_validation_final/sim_2_t_3.pdf
gb_figures/sampling_validation_final/sim_2_t_4.pdf
gb_figures/sampling_validation_final/sim_2_t_5.pdf
gb_figures/sampling_validation_final/sim_2_t_6.pdf
gb_figures/sampling_validation_final/sim_2_t_7.pdf
gb_figures/sampling_validation_final/sim_2_t_8.pdf
gb_figures/sampling_validation_final/sim_2_t_9.pdf
gb_figures/sampling_validation_final/sim_3_t_0.pdf
gb_figures/sampling_validation_final/sim_3_t_1.pdf
gb_figures/sampling_validation_final/sim_3_t_10.pdf
gb_figures/sampling_validation_final/sim_3_t_11.pdf
gb_figures/sampling_validation_final/sim_3_t_12.pdf
gb_figures/sampling_validation_final/sim_3_t_13.pdf
gb_figures/sampling_validation_final/sim_3_t_14.pdf
gb_figures/sampling_validation_final/sim_3_t_15.pdf
gb_figures/sampling_validation_final/sim_3_t_16.pdf
gb_figures/sampling_validation_final/sim_3_t_17.pdf
gb_figures/sampling_validation_final/sim_3_t_18.pdf
gb_figures/sampling_validation_final/sim_3_t_19.pdf
gb_figures/sampling_validation_final/sim_3_t_2.pdf
gb_figures/sampling_validation_final/sim_3_t_20.pdf
gb_figures/sampling_validation_final/sim_3_t_21.pdf
gb_figures/sampling_validation_final/sim_3_t_22.pdf
gb_figures/sampling_validation_final/sim_3_t_23.pdf
gb_figures/sampling_validation_final/sim_3_t_24.pdf
gb_figures/sampling_validation_final/sim_3_t_25.pdf
gb_figures/sampling_validation_final/sim_3_t_3.pdf
gb_figures/sampling_validation_final/sim_3_t_4.pdf
gb_figures/sampling_validation_final/sim_3_t_5.pdf
gb_figures/sampling_validation_final/sim_3_t_6.pdf
gb_figures/sampling_validation_final/sim_3_t_7.pdf
gb_figures/sampling_validation_final/sim_3_t_8.pdf
gb_figures/sampling_validation_final/sim_3_t_9.pdf
gb_figures/sampling_validation_final/sim_4_t_0.pdf
gb_figures/sampling_validation_final/sim_4_t_1.pdf
gb_figures/sampling_validation_final/sim_4_t_10.pdf
gb_figures/sampling_validation_final/sim_4_t_11.pdf
gb_figures/sampling_validation_final/sim_4_t_12.pdf
gb_figures/sampling_validation_final/sim_4_t_13.pdf
gb_figures/sampling_validation_final/sim_4_t_14.pdf
gb_figures/sampling_validation_final/sim_4_t_15.pdf
gb_figures/sampling_validation_final/sim_4_t_16.pdf
gb_figures/sampling_validation_final/sim_4_t_17.pdf
gb_figures/rewardpng
gb_figures/SM_Fig1 (Rasmus Bruckner's conflicted copy 2019-07-09).pdf
gb_figures/SM_gb_figure_2.pdf
gb_figures/table.pdf
gb_figures/task_stats.pdf
gb_figures/td_LAK.pdf
gb_figures/td_observable (Rasmus Bruckners in Konflikt stehende Kopie 2019-03-27).pdf
gb_figures/td_observable.pdf
gb_figures/td_observable2.pdf
gb_figures/td_observable3.pdf
gb_figures/td_observable5.pdf
gb_figures/td_partially_obs.pdf
gb_figures/td_partially_obs1.pdf
gb_figures/td_partially_obs2.pdf
gb_figures/td_partially_obs3.pdf
gb_figures/td_partially_obs4.pdf
gb_figures/td_partially_obs5.pdf
gb_figures/td_partially_obs6.pdf
gb_figures/update_cartoon.pdf
gb_figures/zurich_0.pdf
gb_figures/zurich_1.pdf
gb_figures/zurich_2.pdf
gb_figures/zurich_3.pdf
gb_figures/zurich_4.pdf
gb_figures/zurich_5.pdf
gb_figures/zurich_6.pdf
gb_figures/zurich_7.pdf
gb_figures/zurich_8.pdf
gb_figures/zurich_final.pdf
gb_figures/zurich_perf.pdf
gb_figures/model_pug_8.pdf
gb_figures/model_pug_9.pdf
gb_figures/p_d_t_giv_c_t.pdf
gb_figures/paper_results.pdf
gb_figures/perf_pug (Rasmus Bruckner's conflicted copy 2019-07-09).pdf
gb_figures/perf_pug.pdf
gb_figures/pres_model_1.pdf
gb_figures/pres_model_2.pdf
gb_figures/pres_model_3.pdf
gb_figures/pres_model_4.pdf
gb_figures/pres_perception.pdf
gb_figures/pres_perception_1.pdf
gb_figures/pres_perception_2.pdf
gb_figures/pres_perception_3.pdf
gb_figures/pres_performance.pdf
gb_figures/pres_performance_1.pdf
gb_figures/pres_performance_2.pdf
gb_figures/pres_poly_1.pdf
gb_figures/pres_poly_2.pdf
gb_figures/pres_poly_3.pdf
gb_figures/pres_poly_4.pdf
gb_figures/pres_results.pdf
gb_figures/pres_results_1.pdf
gb_figures/pres_results_2.pdf
gb_figures/pres_results_3.pdf
gb_figures/pres_results_4.pdf
gb_figures/pres_results_5.pdf
gb_figures/pres_results_6.pdf
gb_figures/pres_results_7.pdf
gb_figures/pres_results_8.pdf
gb_figures/PuG_Accuracy (Rasmus Bruckner's conflicted copy 2019-07-09).pdf
gb_figures/PuG_Accuracy.pdf
gb_figures/a1_ev_update.pdf
gb_figures/a1_lr.pdf
gb_figures/a1_lr_update.pdf
gb_figures/a1_pe.pdf
gb_figures/Bruckner_et_al - Online LaTeX Editor Overleaf.webarchive
gb_figures/bs_cartoon.pdf
gb_figures/CCN_results.pdf
gb_figures/ev_cartoon.pdf
gb_figures/example.pdf
gb_figures/example.pgf
gb_figures/Fig1.pdf
gb_figures/Fig1.svg
gb_figures/Fig1_perc.pdf
gb_figures/Fig1_update.pdf
gb_figures/Fig1_update.pptx
gb_figures/Fig2 (Rasmus Bruckner's conflicted copy 2019-07-09).pdf
gb_figures/Fig2.pptx
gb_figures/Fig21.pdf
gb_figures/Fig2_perc.pdf
gb_figures/Fig2_pred.pdf
gb_figures/Fig2_update.pdf
gb_figures/Fig2_update.pptx
gb_figures/Fig3 Kopie.pptx
gb_figures/Fig3.pptx
gb_figures/Fig5.pdf
gb_figures/Fig6.pdf
gb_figures/Fig7.pdf
gb_figures/fig_1_schematic.pdf
gb_figures/gb_figure_1.pdf
gb_figures/gb_figure_2 (Rasmus Bruckner's conflicted copy 2019-11-01).pdf
gb_figures/gb_figure_2.pdf
gb_figures/gb_figure_3.pdf
gb_figures/gb_figure_4.pdf
gb_figures/gb_figure_5.pdf
gb_figures/gb_figure_6.pdf
gb_figures/gb_sm_figure_1.pdf
gb_figures/gb_sm_figure_2.pdf
gb_figures/gb_sm_figure_2_new.pdf
gb_figures/gb_sm_figure_3_new.pdf
gb_figures/gb_sm_figure_7.pdf
gb_figures/model_pug_1.pdf
gb_figures/model_pug_2.pdf
gb_figures/model_pug_3.pdf
gb_figures/model_pug_4.pdf
gb_figures/model_pug_5.pdf
gb_figures/model_pug_6.pdf
gb_figures/model_pug_7.pdf
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-04-01).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-06-14).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-06-24).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-06-27).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-06-28).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-07-01).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-07-08).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-07-09).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-07-15).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-07-16).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-07-17).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-07-23).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-07-26).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-08-02 (1)).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-08-02).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-08-20).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-09-01 (1)).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-09-01).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-09-02).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-09-08).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-10-21).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-11-01 (1)).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-11-01).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-11-08).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-11-09).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-11-16).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-11-18).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-11-27).xml
.idea/workspace (Rasmus Bruckner's conflicted copy 2019-11-29).xml
.idea/workspace (Rasmus Bruckners in Konflikt stehende Kopie 2018-11-05).xml
.idea/workspace (Rasmus Bruckners in Konflikt stehende Kopie 2019-03-27).xml
.idea/workspace (Rasmus Bruckners in Konflikt stehende Kopie 2019-03-28).xml
.idea/workspace (Rasmus Bruckners in Konflikt stehende Kopie 2019-04-25).xml
.idea/workspace (Rasmus Bruckners in Konflikt stehende Kopie 2019-10-23).xml
.idea/dictionaries/rasmus.xml
.idea/libraries/R_User_Library.xml
__pycache__/gb_compute_misses.cpython-36.pyc
__pycache__/gb_plot_utils.cpython-36.pyc
__pycache__/latex_plt.cpython-36.pyc
__pycache__/run_postpred.cpython-36.pyc
__pycache__/swarm_bar.cpython-36.pyc
nicht_in_git/agentenvergleich.py
nicht_in_git/basic_units.py
nicht_in_git/bayesian_model_comp.m
nicht_in_git/bsgds.py
nicht_in_git/bsgds1.py
nicht_in_git/demo_annotation_box.py
nicht_in_git/exp3_pi1_sem.csv
nicht_in_git/gb_demonstration.py
nicht_in_git/gb_descriptive.py
nicht_in_git/gb_figure_4_talk.py
nicht_in_git/gb_mbplot.py
nicht_in_git/swarm_bar.py
nicht_in_git/tablething.py
.idea/encodings.xml
.idea/vcs.xml
gb_data/no_git_data/a1_e_mu_t.csv
gb_data/no_git_data/a2_e_mu_t.csv
gb_data/no_git_data/df_bic_0.pkl
gb_data/no_git_data/df_bic_0_new.pkl
gb_data/no_git_data/df_bic_1.pkl
gb_data/no_git_data/df_bic_1_new.pkl
gb_data/no_git_data/df_bic_2.pkl
gb_data/no_git_data/df_bic_2_new.pkl
gb_data/no_git_data/df_bic_3.pkl
gb_data/no_git_data/df_bic_3_new.pkl
gb_data/no_git_data/df_bic_4_new.pkl
gb_data/no_git_data/df_bic_5_new.pkl
gb_data/no_git_data/df_bic_6_new.pkl
gb_data/no_git_data/exceedance_probs_part.csv
gb_data/no_git_data/exp1_pi1_mean.csv
gb_data/no_git_data/exp1_pi1_sem.csv
gb_data/no_git_data/exp1_trial_sem.csv
gb_data/no_git_data/exp3_pi1_mean.csv
gb_data/no_git_data/exp3_pi1_sem.csv
gb_data/no_git_data/gb_data_pn.pkl
gb_data/no_git_data/gb_exp1_data.pkl
gb_data/no_git_data/gb_exp1_data_recov.pkl
gb_data/no_git_data/gb_exp2_data.pkl
gb_data/no_git_data/gb_exp3_data.pkl
gb_data/no_git_data/modelbased.pkl
gb_data/no_git_data/modelbased_april.pkl
gb_data/no_git_data/modelbased_april_beta.pkl
gb_data/no_git_data/modelbased_april_beta_bs.pkl
gb_data/no_git_data/modelbased_april_beta_bs_10sp.pkl
gb_data/no_git_data/modelbased_april_pd.pkl
gb_data/no_git_data/modelbased_aufraumtest.pkl
gb_data/no_git_data/modelbased_bidstest.pkl
gb_data/no_git_data/modelbased_nach_aufraum.pkl
gb_data/no_git_data/modelbased_new.pkl
gb_data/no_git_data/param_recov.pkl
gb_data/no_git_data/param_recov_final_1.pkl
gb_data/no_git_data/param_recov_final_2.pkl
gb_data/no_git_data/param_recov_final_3.pkl
gb_data/no_git_data/param_recov_final_4.pkl
gb_data/no_git_data/param_recov_final_5.pkl
gb_data/no_git_data/param_recov_final_6.pkl
gb_data/no_git_data/param_recov_final_sigma.pkl
gb_data/no_git_data/param_recov_new.pkl
gb_data/no_git_data/part_bic_mat.csv
gb_data/no_git_data/part_bic_mat_aufraumtest_2.csv
gb_data/no_git_data/part_bic_mat_beta.csv
gb_data/no_git_data/part_bic_mat_beta_bs.csv
gb_data/no_git_data/part_bic_mat_beta_bs_10sp.csv
gb_data/no_git_data/part_bic_mat_bidstest.csv
gb_data/no_git_data/part_bic_mat_new.csv
gb_data/no_git_data/postpred.pkl
gb_data/no_git_data/postpred_april.pkl
gb_data/no_git_data/postpred_april_beta.pkl
gb_data/no_git_data/predictions.pkl
gb_data/no_git_data/recov_bias_mean.csv
gb_data/no_git_data/recov_bias_sd.csv
gb_data/no_git_data/recov_bic_mat.csv
gb_data/no_git_data/recov_bic_mat_final.csv
gb_data/no_git_data/recov_bic_mat_new.csv
gb_data/no_git_data/recov_expr_mat.csv
